.section {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 960px;
}

.leftColumn {
  flex: 1;
  margin-right: 1px;
}

.rightColumn {
  width: 430px;
  height:970px;
  background-color: #ede7e2;
  border-left: 1px solid #9b9b9b;
  padding: 30px;
  overflow-y: auto;
}

.topArticle {
  height: 480px;
  background-color: #ffffff;
  padding: 40px;
  border-bottom: 1px solid #9b9b9b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("/storybacklg.svg");

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bottomRow {
  height: 480px;
  display: flex;
}

.bottomArticle {
  flex: 1;
  background-color: #f5f9f7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.leftImage {
  background-image: url("/storybackleft.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rightImage {
  background-image: url("/storybackright.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bottomArticle:first-child {
  border-right: 1px solid #9b9b9b;
}

.articleTitle {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.smallArticleTitle {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.articleMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.articleText {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 25px;
}

.topArticle .articleText {
  font-size: 18px;

}
.readMore {
 
  color: #183560;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
}

.readMore:hover {
  text-decoration: underline;
}

.newsTitle {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.newsItem {
  margin-bottom: 30px;
  padding-bottom: 20px;
 
}

.newsItem:last-child {
  border-bottom: none;
}

.newsItemTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.newsItemDate {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.newsItemText {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 12px;
}

.newsItemLink {
  color: #183560;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
}

.newsItemLink:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .rightColumn {
    width: 300px;
    height:auto;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .rightColumn {
    width: 100%;
    height:auto;
    order: -1;
    border-bottom: 1px solid  #9b9b9b;
    ;
  }

  .topArticle,
  .bottomRow {
    height: auto;
    min-height: 300px;
  }

  .bottomRow {
    flex-direction: column;
  }

  .bottomArticle:first-child {
    border-right: none;
    border-bottom: 1px solid #000;
  }
}
