.footer {
  background: #000;
  height: 130px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  /*position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;*/
  position: relative;
  width: 1280px;
  left: calc((100vw - 1296px) / 2);
}

/* Added decorative SVG styling */
.decorativeSvg {
  position: absolute;
  top: -50px;

  width: 1280px;
  height: 50px;
  z-index: 1;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
}

.logoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.partnerLogo {
  height: 45px;
  width: auto;
  /* filter: brightness(0) invert(1); */  
}

.partnerLogoHigh {
  height: 80px;
  width: auto;
  /* filter: brightness(0) invert(1); */
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 30px 0;
  }


  .logoRow {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .partnerLogo {
    height: 40px;
  }
}
