.hero {
  background-image: url('/pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 1px solid black;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(237, 231, 226, 0.4);
  z-index: 1;
}

.tree {
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 68px;
  height: 161px;
  z-index: 2;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  position: relative;
  z-index: 2;
}

.heroText {
  font-size: 20px;
  line-height: 1.8;
  color: #333;
  max-width: 1000px;
}



@media (max-width: 768px) {
  .hero {
    height: 200px;
  }

  .container {
    padding: 0 20px;
  }

  .heroText {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
.hero {
  height: auto;
  padding: 20px 10px;
}
}